<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage - The Library of Ohara</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/Icon.png' %}">
    <link rel="stylesheet" href="{% static 'styles-index.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/Icon.png' %}" alt="Logo" width="40px" height="40px"></a>
        </div>
        <p>The Library of Ohara</p>
        <nav>
            <div class="search-bar">
                <input type="text" placeholder="Search ...">
                <i class='bx bx-search'></i>
            </div>
            {% if user.is_authenticated %}
                <h3>{{ user.username }}</h3>
                <a href="{% url 'logout' %}"><h3>Logout</h3></a>
                <a href="{% url 'index' %}"><h3>Home</h3></a>
            {% else %}
                <a href="{% url 'login' %}"><h3>Login</h3></a>
                <a href="{% url 'index' %}"><h3>Home</h3></a>
            {% endif %}
        </nav>
    </header>
    <!-- Main -->
    <main>
        <div class="menu">
            <div class="item">
                <a href="#" class="link">
                    <span>Your Collection</span><i class='bx bx-book'></i>
                </a>
                <div class="submenu">
                    <div class="submenu-item">
                        <a href="#" class="submenu-link">Manga</a>
                        <div class="submenu-level-2">
                            <div class="submenu-item-finish">
                                <a href="#" class="submenu-link">Finish</a>
                            </div>
                            <div class="submenu-item-currently">
                                <a href="#" class="submenu-link">Currently</a>
                            </div>
                            <div class="submenu-item-pause">
                                <a href="#" class="submenu-link">Pause</a>
                            </div>
                            <div class="submenu-item-begin">
                                <a href="#" class="submenu-link">To Begin</a>
                            </div>
                        </div>
                    </div>
                    <div class="submenu-item">
                        <a href="#" class="submenu-link">Anime</a>
                        <div class="submenu-level-2">
                            <div class="submenu-item-finish">
                                <a href="#" class="submenu-link">Finish</a>
                            </div>
                            <div class="submenu-item-currently">
                                <a href="#" class="submenu-link">Currently</a>
                            </div>
                            <div class="submenu-item-pause">
                                <a href="#" class="submenu-link">Pause</a>
                            </div>
                            <div class="submenu-item-begin">
                                <a href="#" class="submenu-link">To Begin</a>
                            </div>
                        </div>
                    </div>
                    <div class="submenu-item">
                        <a href="#" class="submenu-link">Serie</a>
                        <div class="submenu-level-2">
                            <div class="submenu-item-finish">
                                <a href="#" class="submenu-link">Finish</a>
                            </div>
                            <div class="submenu-item-currently">
                                <a href="#" class="submenu-link">Currently</a>
                            </div>
                            <div class="submenu-item-pause">
                                <a href="#" class="submenu-link">Pause</a>
                            </div>
                            <div class="submenu-item-begin">
                                <a href="#" class="submenu-link">To Begin</a>
                            </div>
                        </div>
                    </div>
                    <div class="submenu-item">
                        <a href="#" class="submenu-link">Movie</a>
                        <div class="submenu-level-2">
                            <div class="submenu-item-finish">
                                <a href="#" class="submenu-link">Finish</a>
                            </div>
                            <div class="submenu-item-currently">
                                <a href="#" class="submenu-link">Currently</a>
                            </div>
                            <div class="submenu-item-pause">
                                <a href="#" class="submenu-link">Pause</a>
                            </div>
                            <div class="submenu-item-begin">
                                <a href="#" class="submenu-link">To Begin</a>
                            </div>
                        </div>
                    </div>
                    <div class="submenu-newcategory">
                        <button id="add-category-btn" class="submenu-link">New Category</button>
                        <input type="text" id="new-category-name" placeholder="Enter category name" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <p>© 2024 Portfolio Project - The Library of Ohara - All rights reserved.</p>
    </footer>
    <script src="{% static 'script_js/new_category.js' %}"></script>
</body>
</html>
